doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='/javascripts/util.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/validate.min.js')
    script(src='/javascripts/jquery-fn-min.js')
    script(src='/javascripts/jquery-insert-update.js')
  body
    block content
      .wrapper
        //.header
          h1.header= title
          h2.header= top_block_title
        .top-nav
          //a(href='#')
          a(href=appParams.app_protocol + '://' + appParams.app_server + ':' + appParams.app_port + '/users/change-password') Change Password
          p Hi, #{session.userNickname}
        .row
          include ../public/includes/column-left.pug
          .column-center
            h2= center_block_title
            form#insert_update(action=action, enctype='application/json', method=method)
              .row-form
                .col-25
                  label Name
                .col-75
                  input(type='text', name='nm_cn', maxlength=96, required='required', value=rows[0].nm_cn)
              .row-form
                .col-25
                  label Nickname
                .col-75
                  input(type='text', name='nm_nickname', maxlength=64, required='required', value=rows[0].nm_nickname)
              .row-form
                .col-25
                  label Prefix
                .col-75
                  input(type='text', name='nm_prefix', maxlength=10, value=rows[0].nm_prefix)
              .row-form
                .col-25
                  label Gender
                .col-75
                  input(type='text', name='id_gender', maxlength=1, pattern='(M|F|-)$', title='"M" ou "F" ou "-"', required='required', value=rows[0].id_gender)
              .row-form
                .col-25
                  label Birth Date
                .col-75
                  input(type='text', name='dt_born', maxlength=10, pattern='[0-9]{2}[/][0-9]{2}[/][0-9]{4}$', title='"dd/mm/aaaa"', value=util.formatDate(rows[0].dt_born, 'pt-br'))
              .row-form
                .col-25
                  label E-Mail
                .col-75
                  input(type='email', name='nm_email', maxlength=64, value=rows[0].nm_email)
              .row-form
                .col-25
                  label Mobile
                .col-75
                  input(type='text', name='nu_mobile', maxlength=13, pattern='[0-9]{2}[ ][0-9]{4,5}[-][0-9]{4}$', title='"99 99999-9999"', required='required', value=rows[0].nu_mobile)
              .row-form
                .col-25
                  label Phone
                .col-75
                  input(type='text', name='nu_tel', maxlength=12, pattern='[0-9]{2}[ ][0-9]{4}[-][0-9]{4}$', title='"99 9999-9999"', value=rows[0].nu_tel)
              //Warning: identation may cause loss of association between forms and its items. You can use "form=<form_id>" as an item attribute to solve this problem.
              - if (session.userLevel<=1) {
              .row-form
                .col-25
                  label Users Inserting Preview
                .col-75
                  input(type='text', name='qt_min_members', min=1, max=5000, required='required', value=rows[0].qt_min_members)
              - }
              .row-form
                .col-100
                  label
                  button#okButton(type='submit', form='insert_update') Ok
              .row-form
                .col-100
                - if (session.userLevel>1) {
                  input(type='hidden', name='qt_min_members', value=rows[0].qt_min_members)
                - }
                  input(type='hidden', name='id_user', value=rows[0].id_user)
                  input(type='hidden', name='id_parent_user', value=rows[0].id_parent_user)
                  input(type='hidden', name='cd_city', value=0)
                  input(type='hidden', name='nu_level', value=rows[0].nu_level)
          .column-right
        .footer
