doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='/javascripts/util.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/validate.min.js')
    //script(src='/javascripts/jquery-fn-min.js')
    script(src='/javascripts/jquery-change-password.js')
  body
    block content
      .wrapper
        //.header
          h1.header= title
          h2.header= top_block_title
        .top-nav
          a(href='#')
          p Olá, #{session.userNickname}
          //p Olá, #{rows[0].user_nickname}
        .row
          include ../public/includes/column-left.pug
          .column-center
            h2= center_block_title
            form#change_password(action=action, enctype='application/json', method=method)
              .row-form
                .col-25
                  label Password
                .col-75
                  input(type='password', name='nm_password', maxlength=16, required='required', value='')
              .row-form
                .col-25
                  label New Password
                .col-75
                  input(type='password', name='nm_password_new', maxlength=16, required='required', value='')
              .row-form
                .col-25
                  label New Password (Confirm)
                .col-75
                  input(type='password', name='nm_password_new_confirm', maxlength=16, required='required', value='')
              .row-form
                .col-100
                  label
                  button#okButton(type='submit', form='change_password') Ok
              .row-form
                .col-100
                  //input(type='hidden', name='id_logged_user', value=rows[0].id_logged_user)
                  //input(type='hidden', name='user_nickname', value=rows[0].user_nickname)
                  //input(type='hidden', name='user_level', value=rows[0].user_level)
          .column-right
        .footer